@model ProductViewModel
@{
    ViewData["Title"] = "Search Product View";
}

<h1>TIM KIEM VA CAP NHAT SAN PHAM</h1>

<div class="row">
    <!--Update form-->
    <div class="col-6">
        <h4>CAP NHAT SAN PHAM</h4>
        <form method="post" id="updateForm" asp-action="UpdateAProduct" asp-controller="Product">
            <input hidden type="text" asp-for="Id" id="txtId" />
            <div class="form-group">
                <label asp-for="Name">Ten: </label>
                <input type="text" asp-for="Name" id="txtName" />
            </div>
            <div class="form-group">
                <label asp-for="Type">Loai: </label>
                <input type="text" asp-for="Type" id="txtType" />
            </div>
            <div class="form-group">
                <label asp-for="DateAdded">Ngay tao: </label>
                <input type="datetime" class="datepicker" asp-for="DateAdded" id="txtDateAdded" />
            </div>
            <div class="form-group">
                <label asp-for="MfgName">Nha san xuat: </label>
                <input type="text" asp-for="MfgName" id="txtMfgName" />
            </div>
            <div class="form-group">
                <label asp-for="MfgDate">Ngay san xuat: </label>
                <input type="datetime" class="datepicker" asp-for="MfgDate" id="txtMfgDate" />
            </div>
            <div class="form-group">
                <label asp-for="ExpiredDate">Ngay het han: </label>
                <input type="datetime" class="datepicker" asp-for="ExpiredDate" id="txtDateExpired" />
            </div>
            <div class="form-group">
                <label asp-for="Stock">Ton kho: </label>
                <input readonly type="text" asp-for="Stock" id="txtStock" />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <!--Search form-->
    <div class="col-6">
        <h4>TIM KIEM SAN PHAM</h4>
        <div asp-validation-summary="All"></div>
        <form method="post" asp-action="Search" asp-controller="Product">
            <div class="form-group">
                <label asp-for="Id">Ma: </label>
                <input type="text" asp-for="Id" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name">Ten: </label>
                <input type="text" asp-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="ExpiredDate">Ngay het han: </label>
                <input type="datetime" class="datepicker" asp-for="ExpiredDate" />
            </div>
            <div class="form-group">
                <label asp-for="Stock">Ton kho: </label>
                <input type="text" asp-for="Stock" />
            </div>
            <div>
                <button type="submit">Tim kiem san pham</button>
            </div>
        </form>
    </div>
</div>

<!--Hidden delete form-->
<form hidden method="post" asp-action="DeleteAProduct" asp-controller="Product" id="deleteForm"><input type="text" asp-for="Id" id="txtIdDelete" /></form>
<hr />
<div class="row">

    @{

        foreach (Product product in Model.products)
        {
            <div class="card col-3">
                <div class="card-header text-center">
                    <h4 id="name_@product.Id">@product.Name</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li id="id_@product.Id">@product.Id</li>
                        <li id="addedDate_@product.Id">@product.DateAdded</li>
                        <li id="type_@product.Id">@product.Type</li>
                        <li id="mfgName_@product.Id">@product.MfgName</li>
                        <li id="mfgDate_@product.Id">@product.MfgDate</li>
                        <li id="expiredDate_@product.Id">@product.ExpiredDate</li>
                        <li id="stock_@product.Id">@product.Stock</li>
                    </ul>
                    <div><input type="radio" name="trackRadio" class="custom-radio" id="radio_@product.Id" /> Chon de cap nhat hoac xoa!</div>
                </div>
                <div class="card-footer text-center">
                    <button onclick="submitForm();" class="btn btn-primary">Update</button>
                    <a onclick="submitFormWithAlert();" class="btn btn-danger">Delete</a>

                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}