@model IEnumerable<IdentityRole>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService
@{
    ViewData["Title"] = "ListRole";
}

<h1>List Role</h1>

@if (Model.Any())
{
    <a class="btn btn-primary" style="width: auto" asp-controller="administration" asp-action="createrole">
        Add a new role
    </a>
    foreach (var role in Model)
    {
        <div class="card">
            <div class="card-header">
                Role Id : @role.Id
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    @role.Name
                </h5>
            </div>
            <div class="card-footer">
                @*Claim-based authorization check in View but it may not enough*@
                @if ((await authorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
                {
                    <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Edit</a>
                }

                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <span id="confirmDeleteSpan_@role.Id" style="display:none;">
                        <span>Are you sure to delete this role?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a>
                    </span>
                    <span id="deleteSpan_@role.Id">
                        <a class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Delete</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created!
        </div>

        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create roles
            </h5>
            <a class="btn btn-primary" style="width: auto" asp-controller="administration" asp-action="createrole">
                Create role
            </a>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/confirmDelete.js"></script>
}
